<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Findings, trials and errors in Web Design and Development. Noted down by Jonas Päckos." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title }} | by Jonas Päckos</title>

  <link rel="canonical" href="https://www.pekkos.com/" />
  <link rel="author" href="humans.txt" />

  <link rel="stylesheet" href="/assets/css/styles.min.css" />


</head>

<!--
  you're totally awesome! :)
-->
