<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ path '/css/styles.min.css' }}">

  <title>Preview</title>

</head>

<body>

  {{{ yield }}}

  {{!--
  <script src="{{ path '/js/bundle.js' }}"></script> --}}
</body>

</html>
